<% content_for :title, "Editing storyline" %>

<h1>Editing storyline</h1>

<%= render "form", storyline: @storyline %>

<br>

<div>
  <%= link_to "Show this storyline", @storyline %> |
  <%= link_to "Back to storylines", storylines_path %>
</div>
