<% content_for :title, "Editing architecture" %>

<h1>Editing architecture</h1>

<%= render "form", architecture: @architecture %>

<br>

<div>
  <%= link_to "Show this architecture", @architecture %> |
  <%= link_to "Back to architectures", architectures_path %>
</div>
