<% content_for :title, "Editing storyline arena" %>

<h1>Editing storyline arena</h1>

<%= render "form", storyline_arena: @storyline_arena %>

<br>

<div>
  <%= link_to "Show this storyline arena", @storyline_arena %> |
  <%= link_to "Back to storyline arenas", storyline_arenas_path %>
</div>
