<% content_for :title, "New storyline arena" %>

<h1>New storyline arena</h1>

<%= render "form", storyline_arena: @storyline_arena %>

<br>

<div>
  <%= link_to "Back to storyline arenas", storyline_arenas_path %>
</div>
