<% content_for :title, "Editing storyline world community" %>

<h1>Editing storyline world community</h1>

<%= render "form", storyline_world_community: @storyline_world_community %>

<br>

<div>
  <%= link_to "Show this storyline world community", @storyline_world_community %> |
  <%= link_to "Back to storyline world communities", storyline_world_communities_path %>
</div>
