<p style="color: green"><%= notice %></p>

<% content_for :title, "Storyline world communities" %>

<h1>Storyline world communities</h1>

<div id="storyline_world_communities">
  <% @storyline_world_communities.each do |storyline_world_community| %>
    <%= render storyline_world_community %>
    <p>
      <%= link_to "Show this storyline world community", storyline_world_community %>
    </p>
  <% end %>
</div>

<%= link_to "New storyline world community", new_storyline_world_community_path %>
