<%= form_with(model: storyline_world_forge) do |form| %>
  <% if storyline_world_forge.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(storyline_world_forge.errors.count, "error") %> prohibited this storyline_world_forge from being saved:</h2>

      <ul>
        <% storyline_world_forge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
