<% content_for :title, "Editing storyline world forge" %>

<h1>Editing storyline world forge</h1>

<%= render "form", storyline_world_forge: @storyline_world_forge %>

<br>

<div>
  <%= link_to "Show this storyline world forge", @storyline_world_forge %> |
  <%= link_to "Back to storyline world forges", storyline_world_forges_path %>
</div>
