<% content_for :title, "New storyline world forge" %>

<h1>New storyline world forge</h1>

<%= render "form", storyline_world_forge: @storyline_world_forge %>

<br>

<div>
  <%= link_to "Back to storyline world forges", storyline_world_forges_path %>
</div>
